# Android Studio & IntelliJ
.gradle/
.idea/
build/
app/build/
app/release/
*.iml
local.properties

# Android-spezifische Excludes
.cxx/
.externalNativeBuild/
captures/
*.hprof

# System-Dateien
.DS_Store
Thumbs.db
