<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="de.lobianco.saftssh.mosh.READ_BINARY"
        android:protectionLevel="normal" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".PluginInfoActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name=".MoshBinaryProvider"
            android:authorities="de.lobianco.saftssh.mosh.provider"
            android:exported="true"
            android:readPermission="de.lobianco.saftssh.mosh.READ_BINARY" />

    </application>

</manifest>